.location {
  background-color: #eaeaeaff;
  border-top: 2px solid #cfcfcfff;

  &__Container {
    display: flex;
    justify-content: space-around;
    width: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__Icon {
  }
}

.intro {
  height: 285px;

  &__text1 {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding-top: 30px;
    text-align: center;
  }

  &__text2 {
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
  }
}

.background {
  &__image {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
}
