.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: 70px;
  max-width: 90%;
  position: relative;

  &__icon {
    font-size: 125%;
  }

  &-image {
    width: 175px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 62px;
  }
}
