.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  max-width: 90%;

  &__icon {
    font-size: 125%;
  }

  &-image {
    width: 175px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
