.menu {
  &__container-container {
    border-radius: 40px 40px 0px 0px;
    width: 100%;

    position: relative;
    bottom: 30px;
    display: flex;

    justify-content: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  &__container {
    display: flex;

    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    width: 400px;
    max-width: 90%;
    border-radius: 40px 40px 0px 0px;
  }

  &__cont3 {
    max-width: 90%;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    align-items: center;
    width: 330px;
    max-width: 90%;
  }
  /*
  &__title__text {
  }*/

  &__title__icon {
    font-size: 25px;
    padding-right: 30px;
  }

  &__type {
    padding-bottom: 5px;
  }

  &__bar {
    width: 30px;
    border-top: 1px solid #99e2d0ff;
  }
  &__button {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
  }

  &__block-type {
  }
}

@media screen and (min-width: 933px) {
  .menu {
    &__cont3 {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    &__block-type {
      max-width: 33%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 933px) {
  .menu {
    &__cont3 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }

    &__block-type {
      max-width: 45%;
    }
  }
}
