.restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    @include shadow;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 14px;
    margin-right: 14px;
    width: 336px;
    max-width: 90%;
  }

  &__image {
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }

  &__bottom {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
  }

  &__textDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__text {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  &__new {
    display: flex;
    background-color: #99e2d0ff;
    color: #3baa8fff;
    width: 62px;
    height: 28px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 80%;
  }

  &__title {
    padding-top: 15px;
  }

  &__title-div {
    width: 330px;
    display: flex;
    justify-content: flex-start;
  }

  &__section {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    &__title-div {
      width: auto;
    }
  }
}
