@charset "UTF-8";
/*Snippet pour les préfixes de box-sizing*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap");
.box {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

button {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

.center__title-div {
  width: 330px;
  display: flex;
  justify-content: flex-start;
}

.padding-top {
  padding-top: 28px;
}

.padding-left {
  padding-left: 30px;
}

.opacity {
  opacity: 0;
}

.fade-1 {
  animation: fadein 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 125ms;
}

.fade-2 {
  animation: fadein 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 250ms;
}

.fade-3 {
  animation: fadein 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 375ms;
}

.fade-4 {
  animation: fadein 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

.fade-5 {
  animation: fadein 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 625ms;
}

.fade-6 {
  animation: fadein 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 750ms;
}

.fade-7 {
  animation: fadein 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 875ms;
}

.fade-8 {
  animation: fadein 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
}

.fade-9 {
  animation: fadein 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1125ms;
}

.fade-10 {
  animation: fadein 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1250ms;
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  to {
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  to {
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  to {
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  to {
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.shadow {
  box-shadow: 0 4px 8px 0 #e7e7e7, 0 6px 20px 0 #e7e7e7;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

.background-gray {
  background-color: #f6f6f6;
}

.background-darkgray {
  background-color: #eaeaea;
}

.background-white {
  background-color: white;
}

.color-purple {
  color: #9356dc;
}

span.background-lightpurple {
  background-color: #f5edff;
}

.icon-shrink {
  font-size: 75%;
}

a:link,
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.button-purple {
  display: flex;
  justify-content: center;
  border: none;
}
.button-purple__span {
  box-shadow: 0 4px 8px 0 #e7e7e7, 0 6px 20px 0 #e7e7e7;
  background-color: purple;
  min-width: 187px;
  background-image: linear-gradient(170deg, #e972da 0%, #b862db 50%, #a15adb 100%);
  border-radius: 40px 40px 40px 40px;
  display: flex;
  height: 66px;
  align-items: center;
}
.button-purple__text {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 125%;
  font-weight: bold;
}
.button-purple__span:hover {
  opacity: 0.7;
  box-shadow: 0 4px 8px 0 rgb(146, 146, 146), 0 6px 20px 0 rgb(146, 146, 146);
}

/*Gére le bloc contenant le nom du menu,description et prix 
(pages:note enchantée, La palette du goût,)*/
.menu-bloc {
  display: flex;
  width: 350px;
  max-width: 100%;
  height: 65px;
  justify-content: space-between;
  border-radius: 15px 15px 15px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 #e7e7e7, 0 6px 20px 0 #e7e7e7;
  cursor: pointer;
  /*
    &__togglable:checked + &__animation-container &__box &__icon {
    }
  */
  /*
  &__toggle {
  }*/
}
.menu-bloc__text-bloc {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 330px;
  overflow: hidden;
}
.menu-bloc:hover .menu-bloc__text-bloc {
  width: 290px;
}
.menu-bloc__name {
  padding-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
}
.menu-bloc__note {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
}
.menu-bloc__second-row {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.menu-bloc__icon {
  display: flex;
  align-items: center;
  font-size: 80%;
  color: #99e2d0;
  transition: transform 0ms linear;
}
.menu-bloc:hover .menu-bloc__icon {
  transform: rotate(360deg);
  transition: transform 300ms linear;
  transition-delay: 100ms;
}
.menu-bloc__price {
  padding-right: 10px;
}
.menu-bloc__togglable {
  display: none;
}
.menu-bloc__animation-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  width: 0px;
  height: 65px;
  transition: width 300ms linear;
}
.menu-bloc:hover .menu-bloc__animation-container {
  width: 60px;
}
.menu-bloc__togglable:checked + .menu-bloc__animation-container {
  width: 60px;
}
.menu-bloc__box {
  background-color: white;
  border-radius: 80px 80px 80px 80px;
  margin-left: 22px;
  padding-left: 3px;
  padding-right: 3px;
}

.coeur__icon-empty, .coeur__icon-full {
  font-size: 20px;
}
.coeur__icon-full {
  background: -webkit-gradient(linear, left top, left bottom, from(#a15bdc), to(#e677db));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.coeur__icon-full__div {
  display: none;
}
.coeur__icon-hover {
  cursor: pointer;
}
.coeur__icon-hover:hover .coeur__icon-empty__div {
  display: none;
}
.coeur__icon-hover:hover .coeur__icon-full__div {
  display: inline;
}
.coeur__icon-hover:hover > .coeur__icon-full__div > .coeur__icon-full {
  animation: heartfill 300ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a15bdc), color-stop(100%, #e677db));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes heartfill {
  0% {
    background-position: 0px -20px;
  }
  100% {
    background-position: 0px 0px;
  }
}
.coeur__togglable {
  display: none;
}
.coeur__togglable:checked + .coeur__icon-hover .coeur__icon-full__div {
  display: inline;
}
.coeur__togglable:checked + .coeur__icon-hover .coeur__icon-empty__div {
  display: none;
}
.coeur__title__icon {
  font-size: 25px;
}
.coeur__restaurant {
  padding-right: 30px;
}

.menu {
  /*
  &__title__text {
  }*/
}
.menu__container-container {
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  position: relative;
  bottom: 30px;
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.menu__container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 400px;
  max-width: 90%;
  border-radius: 40px 40px 0px 0px;
}
.menu__cont3 {
  max-width: 90%;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  align-items: center;
  width: 330px;
  max-width: 90%;
}
.menu__title__icon {
  font-size: 25px;
  padding-right: 30px;
}
.menu__type {
  padding-bottom: 5px;
}
.menu__bar {
  width: 30px;
  border-top: 1px solid #99e2d0;
}
.menu__button {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 933px) {
  .menu__cont3 {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .menu__block-type {
    max-width: 33%;
  }
}
.location {
  background-color: #eaeaea;
  border-top: 2px solid #cfcfcf;
}
.location__Container {
  display: flex;
  justify-content: space-around;
  width: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.intro {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.intro__blocktext {
  width: 350px;
  max-width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.intro__text1 {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  text-align: center;
}
.intro__text2 {
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
}

.background__image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .intro__blocktext {
    width: 765px;
  }
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: 70px;
  max-width: 90%;
  position: relative;
}
.header__icon {
  font-size: 125%;
}
.header-image {
  width: 175px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 62px;
}

.footer {
  background-color: #353535;
  padding-bottom: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.footer__container {
  width: 380px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.footer__image {
  width: 110px;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  filter: invert(100%);
  margin-left: 20px;
  margin-right: 20px;
}
.footer__bloc {
  filter: invert(100%);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.footer__icon {
  padding-right: 15px;
}

/*# sourceMappingURL=style-menu.css.map */
