@charset "UTF-8";
/*Snippet pour les préfixes de box-sizing*/
.box {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

.center {
  display: flex;
  justify-content: center;
}

.center__title-div {
  width: 330px;
  display: flex;
  justify-content: flex-start;
}

.padding-top {
  padding-top: 28px;
}

.padding-left {
  padding-left: 30px;
}

* {
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

h2 {
  font-size: 25px;
}

.background-gray {
  background-color: #f6f6f6;
}

.background-darkgray {
  background-color: #eaeaea;
}

.background-white {
  background-color: white;
}

.color-purple {
  color: #9356dc;
}

span.background-lightpurple {
  background-color: #f5edff;
}

.icon-shrink {
  font-size: 75%;
}

a:link,
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.button-purple {
  display: flex;
  justify-content: center;
}
.button-purple__span {
  background-color: purple;
  min-width: 187px;
  background-image: linear-gradient(140deg, #d46bdb 0%, #e972da 50%, #d06adb 75%);
  border-radius: 40px 40px 40px 40px;
  /*padding-top: 20px;
      padding-bottom: 20px;*/
  display: flex;
  height: 66px;
}
.button-purple__text {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 125%;
  font-weight: bold;
}

.menu-bloc {
  display: flex;
  width: 350px;
  height: 65px;
  justify-content: space-between;
  border-radius: 15px 15px 15px 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*
  &:hover &__box {
    background-color: white;
    border-radius: 80px 80px 80px 80px;
    margin-left: 22px;
    padding-left: 2px;
    padding-right: 2px;
  }*/
}
.menu-bloc__text-bloc {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 330px;
  overflow: hidden;
}
.menu-bloc:hover .menu-bloc__text-bloc {
  width: 290px;
}
.menu-bloc__name {
  padding-left: 10px;
}
.menu-bloc__second-row {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.menu-bloc__icon {
  display: flex;
  align-items: center;
  font-size: 80%;
  color: #99e2d0;
  transition: transform 200ms linear;
}
.menu-bloc:hover .menu-bloc__icon {
  transform: rotate(720deg);
}
.menu-bloc__price {
  padding-right: 20px;
}
.menu-bloc__togglable {
  display: none;
}
.menu-bloc__toggle {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: aquamarine;
  border-radius: 0px 15px 15px 0px;
  width: 0px;
  transition: width 200ms linear;
}
.menu-bloc:hover .menu-bloc__toggle {
  width: 60px;
}
.menu-bloc__togglable:checked + .menu-bloc__toggle, .menu-bloc__active > .menu-bloc__toggle {
  width: 60px;
}
.menu-bloc__box {
  background-color: white;
  border-radius: 80px 80px 80px 80px;
  margin-left: 22px;
  padding-left: 2px;
  padding-right: 2px;
}

.fonction-bloc {
  /*width: 430px;
    height: 100px;*/
  /*margin-top: 13px;
    margin-bottom: 13px;*/
}
.fonction-bloc__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  /*width: 430px;
      height: 100px;*/
}
.fonction-bloc__number {
  background-color: #9356dc;
  border-radius: 80px 80px 80px 80px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 8px;
  /*margin-top: 65px;
      margin-bottom: 65px;*/
  font-size: 125%;
  position: relative;
  left: 15px;
}
.fonction-bloc__span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
  /*padding-top: 20px;
      padding-bottom: 20px;*/
  border-radius: 15px 15px 15px 15px;
  /*display: inline-block;*/
  width: 326px;
  height: 75px;
}
.fonction-bloc__text {
  padding-right: 50px;
  font-size: 125%;
  font-weight: bold;
  /*margin-right: 20px;
      margin-left: 20px;*/
}
.fonction-bloc__icon {
  margin-right: 30px;
  margin-left: 30px;
}
.fonction-bloc__title {
  margin-right: 20px;
  margin-left: 20px;
}

.location {
  background-image: linear-gradient(180deg, #d2d2d2 0%, #dedede 10%, #eaeaea 75%);
}
.location__Container {
  display: flex;
  justify-content: space-around;
  width: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.intro {
  height: 285px;
}
.intro__text1 {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  /*padding-bottom: 10px;*/
  text-align: center;
}
.intro__text2 {
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
}

.background__image {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.menu__container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 400px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  bottom: 30px;
}
.menu__title {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
  gap: 90px;
}
.menu__title__text {
  font-size: 40px;
}
.menu__title__icon {
  font-size: 30px;
}
.menu__type {
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 5px;
}
.menu__bar {
  width: 30px;
  border-top: 1px solid green;
  margin-left: 15px;
  margin-right: 15px;
}
.menu__button {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*
    &__icon-empty__div {
        display: none;
    }*/
}
.restaurant__image {
  width: 336px;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__bottom {
  width: 336px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
}
.restaurant__icon-empty, .restaurant__icon-full {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 20px;
}
.restaurant__icon-full {
  color: purple;
}
.restaurant__icon-full__div {
  display: none;
}
.restaurant__textDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.restaurant__text {
  margin-top: 3px;
  margin-bottom: 3px;
}
.restaurant__new {
  display: flex;
  background-color: #99e2d0;
  color: #3baa8f;
  width: 62px;
  height: 28px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
  left: 260px;
  font-size: 80%;
}
.restaurant__title {
  padding-top: 15px;
}
.restaurant__title-div {
  width: 330px;
  display: flex;
  justify-content: flex-start;
}
.restaurant__section {
  padding-bottom: 60px;
}
.restaurant__tooglable:checked + .restaurant__icon-hover .restaurant__icon-empty__div {
  display: none;
}
.restaurant__tooglable:checked + .restaurant__icon-hover .restaurant__icon-full__div {
  display: inline;
}
.restaurant__icon-hover:hover .restaurant__icon-empty__div {
  display: none;
}
.restaurant__icon-hover:hover .restaurant__icon-full__div {
  display: inline;
}

/*
.restaurant__togglable:checked {
  display: inline;
}*/
/*
.restaurant__togglable:checked > .restaurant__icon-empty__div {
  display: none;
}
.restaurant__togglable:checked > .restaurant__icon-full__div {
  display: inline;
}*/
/*
.restaurant__togglable:checked {
  .restaurant__icon-empty__div {
    display: none;
  }
  .restaurant__icon-full__div {
    display: inline;
  }
}*/
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  gap: 50px;
}
.header__icon {
  font-size: 125%;
}
.header-image {
  width: 175px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  background-color: #353535;
  padding-bottom: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.footer__container {
  width: 380px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.footer__image {
  width: 110px;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  filter: invert(100%);
  margin-left: 20px;
  margin-right: 20px;
}
.footer__bloc {
  filter: invert(100%);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.footer__icon {
  padding-right: 15px;
}

/*# sourceMappingURL=style.css.map */
