.button-purple{
    display: flex;
    justify-content: center;
    
   

    &__span{
        background-color: purple;
        background-image: linear-gradient(140deg, #D46BDB 0%, #E972DA 50%, #D06ADB 75%);
        
        border-radius: 40px 40px 40px 40px;
        /*padding-top: 20px;
        padding-bottom: 20px;*/
        display:flex;
        height: 66px;
        
    }


    &__text{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
        font-size: 125%;
        font-weight: bold;
    }
}
