.button-purple {
  display: flex;
  justify-content: center;
  border: none;

  &__span {
    @include shadow;
    background-color: purple;
    min-width: 187px;
    background-image: linear-gradient(
      170deg,
      #e972daff 0%,
      #b862db 50%,
      #a15adb 100%
    );

    border-radius: 40px 40px 40px 40px;
    /*padding-top: 20px;
        padding-bottom: 20px;*/
    display: flex;
    height: 66px;
    align-items: center;
  }

  &__text {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 125%;
    font-weight: bold;
  }

  &__span:hover {
    opacity: 0.7;

    box-shadow: 0 4px 8px 0 rgb(146, 146, 146), 0 6px 20px 0 rgb(146, 146, 146);
  }
}
