.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ff79da;
  border-bottom-color: #99e2d0;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &__container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 1;
    animation: clear 1s linear forwards;
    animation-delay: 2s;
    z-index: 1000;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes vis {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes clear {
  0% {
    opacity: 1;
    transform: translate(0vh, 0vh);
  }
  100% {
    transform: translate(0vh, -100vh);
    opacity: 0;
  }
}
@keyframes clearreverse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
