.menu-bloc {
  display: flex;
  width: 350px;
  height: 65px;
  justify-content: space-between;
  border-radius: 15px 15px 15px 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  @include shadow;
  /*
  animation: margin-Decrease 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  @keyframes margin-Decrease {
    from {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    to {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }*/
  &__text-bloc {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 330px;
    overflow: hidden;
  }

  &:hover &__text-bloc {
    width: 290px;
  }

  &__name {
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
  }

  &__note {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
  }
  &__second-row {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
  }

  &__icon {
    display: flex;
    align-items: center;
    font-size: 80%;
    color: #99e2d0ff;
    transition: transform 0ms linear;
  }

  &:hover &__icon {
    transform: rotate(720deg);
    transition: transform 200ms linear;
  }
  /*
  &__togglable:checked + &__animation-container &__box &__icon {
  }
*/
  &__price {
    padding-right: 20px;
  }

  &__togglable {
    display: none;
  }
  /*
  &__toggle {
  }*/
  &__animation-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: aquamarine;
    border-radius: 00px 15px 15px 0px;
    width: 0px;
    height: 65px;
    transition: width 200ms linear;
  }

  &:hover &__animation-container {
    width: 60px;
  }

  &__togglable:checked + &__animation-container {
    width: 60px;
  }

  &__box {
    background-color: white;
    border-radius: 80px 80px 80px 80px;
    margin-left: 22px;
    padding-left: 2px;
    padding-right: 2px;
  }
}
