/*Gére le bloc contenant le nom du menu,description et prix 
(pages:note enchantée, La palette du goût,)*/
.menu-bloc {
  display: flex;
  width: 350px;
  max-width: 100%;
  height: 65px;
  justify-content: space-between;
  border-radius: 15px 15px 15px 15px;

  margin-top: 10px;
  margin-bottom: 10px;
  @include shadow;
  cursor: pointer;

  &__text-bloc {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 330px;
    overflow: hidden;
  }

  &:hover &__text-bloc {
    width: 290px;
  }

  &__name {
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
  }

  &__note {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
  }
  &__second-row {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
  }

  &__icon {
    display: flex;
    align-items: center;
    font-size: 80%;
    color: #99e2d0ff;
    transition: transform 0ms linear;
  }

  &:hover &__icon {
    transform: rotate(360deg);
    transition: transform 300ms linear;
    transition-delay: 100ms;
  }
  /*
  &__togglable:checked + &__animation-container &__box &__icon {
  }
*/
  &__price {
    padding-right: 10px;
  }

  &__togglable {
    display: none;
  }
  /*
  &__toggle {
  }*/
  &__animation-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #99e2d0ff;
    border-radius: 00px 15px 15px 0px;
    width: 0px;
    height: 65px;
    transition: width 300ms linear;
  }

  &:hover &__animation-container {
    width: 60px;
  }

  &__togglable:checked + &__animation-container {
    width: 60px;
  }

  &__box {
    background-color: white;
    border-radius: 80px 80px 80px 80px;
    margin-left: 22px;
    padding-left: 3px;
    padding-right: 3px;
  }
}
