/*Snippet pour les préfixes de box-sizing*/
.box {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

.center {
  display: flex;
  justify-content: center;
}

.center__title-div {
  width: 330px;
  display: flex;
  justify-content: flex-start;
}
.margin-topbot {
  margin-top: 28px;
  margin-bottom: 28px;
}

.padding-top {
  padding-top: 28px;
}

.padding-left {
  padding-left: 30px;
}

.opacity {
  opacity: 0;
}

.fade {
  @include fade-animation;
  animation-delay: 125ms;
}
.fade1 {
  @include fade-animation;
  animation-delay: 250ms;
}
.fade2 {
  @include fade-animation;
  animation-delay: 250ms+125ms;
}
.fade3 {
  @include fade-animation;
  animation-delay: 500ms;
}
.fade4 {
  @include fade-animation;
  animation-delay: 625ms;
}
.fade5 {
  @include fade-animation;
  animation-delay: 750ms;
}

.fade6 {
  @include fade-animation;
  animation-delay: 675ms;
}

.fade7 {
  @include fade-animation;
  animation-delay: 800ms;
}

.fade8 {
  @include fade-animation;
  animation-delay: 925ms;
}

.fade9 {
  @include fade-animation;
  animation-delay: 1050ms;
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  to {
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  to {
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  to {
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  to {
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.shadow {
  box-shadow: 0 4px 8px 0 #e7e7e7ff, 0 6px 20px 0 #e7e7e7ff;
}
