@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

.background-gray {
  background-color: #f6f6f6ff;
}

.background-darkgray {
  background-color: #eaeaeaff;
}

.background-white {
  background-color: white;
}

.color-purple {
  color: #9356dcff;
}

span.background-lightpurple {
  background-color: #f5edffff;
}

.icon-shrink {
  font-size: 75%;
}

a:link,
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
